img.img1{
    width:200px;
    border-radius:10px;
    display:block;
}
/*
p.title{
    width:300px;
}
    */
div.video-preview{
    width:300px;
    display:inline-block;
    margin-right:20px;
}
.search{
    display:block;
}
p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.channel-picture{
    display:inline-block;
}
.video-info{
    display:inline-block;
}
.profile-picture{}
  