img.img1{
    width:200px;
    border-radius:10px;
    display:block;
}

p.title{
    margin-top:0px;
}
    
div.video-preview{
    width:300px;
    display:inline-block;
    vertical-align:top;
    margin-right:20px;
}
.search{
    display:block;
}
p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.channel-picture{
    display:inline-block;
    width:50px;
    vertical-align:top;
}
.video-info{
    display:inline-block;
    width:200px;
}
.profile-picture{
    width:100%;
}
  